body {
  background-color: #2d302e;
}

#wrapper {
  margin: 1em auto;
  width: 1200px;

  background-color: #2d302e;
  padding: 1em;
}

header{
  font-family: 'Zen Tokyo Zoo', cursive;
}



.carousel {
  color: #fff;

  --carousel-button-bg: black;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 540px;
  margin-right: 32px;

  background-color: #black;
  border-radius: 6px;
}



nav{
  padding: 16px;
  grid-column: span 12

}

nav ul{
list-style-type: none;
background-color: #35318f;
border-radius: 50px;
}

nav li{
  display: inline-block;
  width: 350px;
  text-align: center;
}

nav li a{
  display: block;
  padding: 1em;
  color: white;
  text-decoration: none;
}
nav li a:hover{
  color: #00260d;
  text-decoration: underline;
  transition: color 1s;
}

header{

  color: white;
  grid-column: span 12;
  font-size: 40px;
  text-align: center;
}


#mepic{
  float: left;
  border-radius: 30px;
}
.abtme{

}

.p1{
  padding: 0 0 300px 20px;
}



#pics{
  padding: 10px;
text-align:center;
}

p{
  color: white;
}

.okay{
  padding: 30px 0 300px 450px;
  font-size: 20px;
}
.p2{
  padding: 20px 0 300px 450px;
  font-size: 20px;
}
.p3{
  padding: 20px 0 300px 450px;
  font-size: 20px;
}
.p4{
  padding: 20px 0 300px 450px;
  font-size: 20px;
}
.p5{
  padding: 20px 0 390px 450px;
  font-size: 20px;
}
.p6{
  padding: 20px 0 350px 450px;
  font-size: 20px;
}
.p7{
  font-size: 20px;
}

#img2{
  padding: 10px;
  border-radius: 30px;
}

#img3{
  padding: 10px;
  border-radius: 30px;

}

#img4{
  padding: 10px;
  border-radius: 30px;
}

#img5{
  padding: 10px;
  border-radius: 30px;
}


#img20{
padding: 10px;
border-radius: 30px;
float: left;
}

#img30{
padding: 10px;
border-radius: 30px;
float: left;
}

#img40{
padding: 10px;
border-radius: 30px;
float: left;
}

#img50{
padding: 10px;
border-radius: 30px;
float: left;
}

#img60{
padding: 10px;
border-radius: 30px;
}

#img70{
padding: 10px;
border-radius: 30px;
}

#img80{
padding: 10px;
border-radius: 30px;
}

#img90{
padding: 10px;
border-radius: 30px;
}

#img10{
padding: 10px;
border-radius: 30px;
float: left;
}

#img11{
padding: 10px;
border-radius: 30px;
float: left;
}


footer{
  padding: 16px;
  grid-column: span 12
}

footer ul{
  list-style-type: none;
  background-color: #35318f;
  border-radius: 50px;
}

footer li{
  display: inline-block;
  width: 350px;
  text-align: center;
}

footer li a{
  display: block;
  color: white;
  text-decoration: none;
}

footer li a:hover{
  color: #00260d;
  text-decoration: underline;
    transition: color 1s;

}


#ME{
  border-radius: 24px;
display: inline-block;
}

.p1{
  padding: 20px 0 350px 400px;
  font-size: 20px;

}
